$def with (name, answer)
<html>
<head>
                <!-- link to main stylesheet -->
                <link rel="stylesheet" type="text/css" href="static/minimal.css" charset="utf-8">
</head>
<body>
<div class="container">


<h1> $name

$answer </h1>

<form action="" method="POST"> 
		<input type="submit" name="show" value="show"/> 
		<br/>
		<input type="submit" name="form_action" value="good"/> 
		<input type="submit" name="form_action" value="norm"/> 
		<input type="submit" name="form_action" value="bad"/> 
</form>

</div>
</body>
</html>
