{% extends "layout.html" %}
{% block body %}
<div class="block1">

<h1> Learn French {{name}}!</h1>

<p>Irregular verbs: </p>
<p> <a href="/deck/etre">Être (to be)</a></p>
<p> <a href="/deck/avoir">Avoir (to have)</a></p>
<p> <a href="/deck/faire">Faire (to do)</a></p>
<p> <a href="/deck/aller">Aller (to go)</a></p>
<p> <a href="/deck/vouloir">Vouloir (to want)</a></p>
<p> <a href="/deck/pouvoir">Pouvoir (to can)</a></p>
<p> <a href="/deck/devoir">Devoir (to must)</a></p>
<p></p>
<p>Regular verbs: </p>
<p> <a href="/deck/Ver">I group (V-er)</a></p>
<p> <a href="/deck/Vir">II group (V-ir)</a></p>
<p>Possessives: </p>
<p> <a href="/deck/possessives">Possessives</a></p>


</div>
{% endblock %}
